In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statistics

def save_data(X : pd.DataFrame, path:str):
    X.to_csv(path+".csv")
    X.to_excel(path+".xlsx")

In [2]:
df = pd.read_csv("Datas/cleared_data.csv")
df

,"('N', 'O', 2)","('P', 'O', 2)","('O', 'S', 1)","('C', 'O', 1)","('C', 'O', 1.5)","('I', 'C', 1)","('C', 'N', 3)","('O', 'O', 1)","('N', 'Cl', 1)","('N', 'H', 1)",...,"('N', 'O', 1)","('O', 'C', 2)","('N', 'N', 2)","('P', 'H', 1)","('P', 'S', 1)","('Cl', 'C', 1)","('C', 'C', 2)","('C', 'H', 1)","('O', 'H', 1)","('S', 'S', 1)"
0,0,0,0,1,0,0,2,0,0,1,...,0,1,0,0,0,1,1,17,0,0
1,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,21,1,0
2,0,0,0,0,0,0,0,0,0,4,...,0,1,0,0,0,0,0,16,0,0
3,0,0,0,0,0,0,0,0,0,2,...,0,1,0,0,0,0,0,23,0,0
4,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,16,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62082,0,0,0,2,2,0,0,0,0,1,...,0,0,0,0,0,2,0,21,0,0
62083,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,18,0,0
62084,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,27,0,0
62085,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,31,0,0
62086,0,0,0,4,0,0,0,0,0,2,...,0,0,0,0,0,0,0,19,2,0

In [3]:
variance_data = list()
for columns in df.columns:
    if statistics.variance(df[columns]) > 1 :
        variance_data.append((columns, statistics.variance(df[columns])))
variance_data = np.transpose(variance_data)
variance_data

array([["('C', 'O', 1)", "('N', 'H', 1)", "('N', 'C', 1)",
        "('N', 'C', 1.5)", "('C', 'C', 1)", "('C', 'C', 1.5)",
        "('C', 'H', 1)"],
       ['2.39173478349443', '1.2802936672652692', '7.464248657489934',
        '1.8850618959601524', '11.069513971134775', '14.99008126134309',
        '32.40808202469651']], dtype='<U32')

In [4]:
var_df = pd.DataFrame(variance_data, columns=variance_data[0]).T
var_df.drop(0, axis=1, inplace=True)
var_df

                                  1
('C', 'O', 1)      2.39173478349443
('N', 'H', 1)    1.2802936672652692
('N', 'C', 1)     7.464248657489934
('N', 'C', 1.5)  1.8850618959601524
('C', 'C', 1)    11.069513971134775
('C', 'C', 1.5)   14.99008126134309
('C', 'H', 1)     32.40808202469651

In [5]:
save_data(var_df, "Datas/Stats/variance_data")

In [6]:
df[variance_data[0]].to_csv("Datas/selected_feature_data.csv")